<!-- views/project/detail.ejs -->
<%- include('../partials/header') %>

<h1>Detalle del Mate</h1>
<p>Mostrando información del mate con ID: <%= projectId %></p>

<a href="/project/list">← Volver al listado</a>

<%- include('../partials/footer') %>
