<!-- views/project/list.ejs -->
<%- include('../partials/header') %>

<h1>Catálogo de Mates</h1>

<ul>
  <li><a href="/project/detail/1">Mate de calabaza</a></li>
  <li><a href="/project/detail/2">Mate de vidrio</a></li>
  <li><a href="/project/detail/3">Mate de acero inoxidable</a></li>
</ul>

<%- include('../partials/footer') %>
