<%- include('../partials/header') %>

<section class="about">
  <h1>Sobre mí</h1>
  <p>Hola, soy Antonela. Creo mates únicos, combinando tradición y creatividad.</p>
</section>

<%- include('../partials/footer') %>
