<%- include('../partials/header') %>

<section class="home">
  <h1>Bienvenida a Mi Sitio de Mates</h1>
  <p>Descubrí nuestros diseños artesanales hechos con pasión.</p>
  <a href="/project">Ver todos los mates</a>
</section>

<%- include('../partials/footer') %>
