<%- include('../partials/header') %>

<section class="projects">
  <h1>Nuestros Mates</h1>
  <p>Explorá todos nuestros modelos únicos y hechos a mano.</p>
  <a href="/project">Ver listado</a>
</section>

<%- include('../partials/footer') %>
